/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
	--color-primary: #1a2b47;

	--color-secondary: #e2ebe3;
	--color-secondary-hover: #cae8bd;
	--color-secondary-active: #b0db9c;
	--color-secondary-dark: #5e7961;

	--color-dark-glow: #4242421e;
	--color-light-glow: #ffffff1e;
	--color-latte: #FFF8E7;
	--color-pending: #ffe7b2;

	--color-white: #fcf7f3;
}

@layer base {
	body {
		font-family: 'Inter', sans-serif;
		@apply text-gray-900 m-auto bg-white;
	}

	main {
		@apply max-w-5xl mx-auto mt-10 px-4;
	}

	section {
		@apply p-10 m-4 shadow-xl rounded-2xl flex flex-col items-center;
	}
	article {
		@apply p-6 rounded-xl flex flex-col items-center;
	}

	h1 {
		@apply text-4xl md:text-5xl font-bold mb-2 tracking-tight;
	}

	h2 {
		@apply text-2xl md:text-3xl font-bold mb-2;
	}

	h3 {
		@apply text-xl font-bold mb-2;
	}

	button {
		@apply px-4 py-2 
		bg-secondary hover:bg-secondary-hover active:bg-secondary-active  disabled:bg-gray-400 
		shadow-md/30 cursor-pointer
		active:shadow-none active:translate-y-0.25
        rounded-xl transition-all ease-linear duration-150;
	}

	strong {
		@apply font-bold;
	}

	a {
		@apply  font-bold rounded-full p-2 cursor-pointer text-xl text-latte
        hover:bg-light-glow active:bg-primary/30 transition-all duration-150 active:bg-secondary/50;
	}
}

@layer components {
	.info-bar {
		@apply p-6 m-4 w-full bg-secondary rounded-xl flex flex-row justify-between;
	}

	.info-table {
		@apply border-collapse;
	}
	.info-table thead {
		@apply bg-primary sticky top-0 text-white;
	}
	.info-table thead tr {
		@apply text-left border-b-2;
	}
	.info-table th {
		@apply py-2 px-4;
	}

	.info-table tbody {
		@apply h-20 overflow-y-auto overflow-x-hidden;
	}
	.info-table tbody tr {
		@apply border-b hover:bg-primary/10;
	}
	.info-table td {
		@apply py-2 px-4;
	}

	.scroll-container {
		@apply overflow-y-auto;
	}
}
