<section class="flex flex-col gap-4 min-w-100">
	<h1>Review policy</h1>

	<div class="grid grid-cols-[150px_1fr] gap-y-3 gap-x-4 items-center">
		<p>Policy name</p>
		<div class="readonly-field">{{ name }}</div>

		<p>Premium</p>
		<div class="readonly-field">{{ premium}}&nbsp;kr/month</div>

		<p>Status</p>
		<div class="readonly-field">{{ status }}</div>
	</div>

	<!-- Life events -->
	<div>
		<p>Life events</p>
		<br />

		<div class="scroll-container max-h-[150px]">
			<table class="info-table">
				<tbody>
					@for (event of lifeEventStore.lifeevents(); track event) {
						<tr>
							<td>
								<input
									type="checkbox"
									[checked]="selectedLifeEvents.includes(event.id)"
									disabled
								/>
							</td>
							<td>{{ event.name }}</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Actions -->
	<div class="flex flex-col gap-2">
		@if (isDenying) {
			<textarea
				[(ngModel)]="explanation"
				rows="2"
				class="border rounded px-2 py-1"
				placeholder="Reason for rejection..."
			></textarea>
		}

		<div class="flex justify-end gap-2">
			<button (click)="back()">Back</button>

			<button
				(click)="isDenying ? deny() : (isDenying = true)"
				[disabled]="isDenying && !explanation.trim()"
			>
				{{ isDenying ? 'Confirm Deny' : 'Deny' }}
			</button>

			<button (click)="accept()">Accept</button>
		</div>
	</div>
</section>
