<article
	class=" p-4 rounded-lg w-full hover:bg-primary-hover hover:cursor-pointer"
	[class]="showStatus && status === 'Active' && 'bg-green-100' "
	[class]="showStatus && status === 'In review' ? 'bg-orange-100' : 'bg-primary-active' "
>
	<mat-card
		class="rounded-lg shadow-lg mb-4 w-full"
		(click)="!currentUser()?.policyIds?.includes(policy.id) && openDialog()"
	>
		<mat-card-header class="flex flex-col items-start">
			<h3>{{ policy.name ? policy.name : 'Untitled' }}</h3>
		</mat-card-header>
		<mat-card-content>
			<p>{{ 'Premium: ' + (policy.premium ? policy.premium : 'No premium') }}</p>
			<p>Coverage includes:</p>
			@for (lifeeventIds of policy.coveredLifeEvents; track lifeeventIds) {
				<li class="ml-7">{{ getLifeeventName(lifeeventIds)?.name | capitalize }}</li>
			}
			@if (showStatus) {
				<span
					class="mt-5 px-4 py-2 rounded-full text-sm font-semibold bg-dark-glow"
				>
					{{ status }}
				</span>
			}
		</mat-card-content>
	</mat-card>
</article>
