<section class="flex flex-col gap-4 min-w-100">
	@if (policy) {
		<h1>Update policy</h1>
	} @else {
		<h1>Create new polciy</h1>
	}

	<!-- Name -->
	<div>
		<p class="block mb-1">Policy name</p>
		<input
			type="text"
			name="name"
			[(ngModel)]="name"
			class="w-full border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:border-black"
		/>
	</div>

	<!-- Premium -->
	<div>
		<p class="block mb-1">Premium</p>
		<input
			type="text"
			name="premium"
			[(ngModel)]="premium"
			class="w-full border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:border-black"
		/>
	</div>

	<!-- Life events -->
	<div>
		<p>Life events</p>
		<br />

		<div class="scroll-container max-h-37.5">
			<table class="info-table">
				<tbody>
					@for (event of lifeEventStore.lifeevents(); track event) {
						<tr>
							<td>
								<input
									type="checkbox"
									[checked]="selectedLifeEvents.includes(event.id)"
									(change)="onLifeEventToggle(event.id, $event)"
								/>
							</td>
							<td>{{ event.name }}</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Actions -->
	<div class="flex justify-end gap-2">
		<button (click)="close()">Cancel</button>
		<span class="relative inline-block group">
			<button color="primary" (click)="submit()" [disabled]="inReview">
				@if (policy) {
					Update
				} @else {
					Create
				}
			</button>

			<span
				class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 px-3 py-1.5 text-sm text-white bg-gray-800 rounded-full shadow-lg transition-opacity duration-150 whitespace-nowrap pointer-events-none opacity-0 group-hover:opacity-100"
				[class.hidden]="!inReview"
			>
				Cannot update while in review

				<span
					class="absolute top-full left-1/2 -translate-x-1/2 w-0 h-0 border-x-4 border-x-transparent border-t-4 border-t-gray-800"
				></span>
			</span>
		</span>
	</div>
</section>
