<nav class="shadow-xl flex justify-around items-center bg-primary/30">
	<!-- Logo -->
	<div class="m-4">
		<a routerLink="" class=""> LifeStage</a>
	</div>
	<!-- Hamburger menu-->
	<div class="m-4 md:hidden">
		<button class="" (click)="menuOpen = !menuOpen">☰</button>
	</div>

	<!-- Navigation Links -->
	@if (userStore.currentUser()?.role === 'USER') {
		<div class="m-4 hidden md:flex">
			<a routerLink="/lifeevents">Life events</a>
		</div>
	}

	<div class="m-4 hidden md:flex">
		<a routerLink="/policies">Policies</a>
	</div>

	@if (userStore.currentUser()?.role === 'ADMIN') {
		<div class="m-4 hidden md:flex">
			<a routerLink="/admin">Admin</a>
		</div>
	}
  
	<!-- Optional CTA -->
	<div class="m-4 hidden md:flex">
		<app-login-button></app-login-button>
	</div>
</nav>

<!-- Dropdown menu -->
<div
	class="absolute w-full md:hidden flex flex-col items-end bg-primary/10 transition-all duration-300 transform"
	[class.translate-x-0]="menuOpen"
	[class.opacity-100]="menuOpen"
	[class.translate-x-full]="!menuOpen"
	[class.opacity-0]="!menuOpen"
>
	@if (userStore.currentUser()?.role === 'USER') {
		<a class="m-1" routerLink="/lifeevents">Life events</a>
	}

	@if (userStore.currentUser()?.role === 'ADMIN') {
		<a class="m-1" routerLink="/admin">Admin</a>
	}

	<app-login-button class="m-2"></app-login-button>
</div>
