<div>
	<section>
		<h2>Your policies</h2>
		@if (userPolicies().length === 0) {
			<p class="p-5">You have no policies D:</p>
		}
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
			@for (policy of userPolicies(); track policy) {
				<app-info-card
					(click)="openActivePolicyDialog(policy)"
					(keydown.enter)="openActivePolicyDialog(policy)"
					(keydown.space)="openActivePolicyDialog(policy)"
					[title]="policy.name"
					[color]="status(policy).active ? 'bg-primary' : 'bg-pending'"
				>
					<p>{{ 'Premium: ' + (policy.premium ? policy.premium : 'No premium') }}</p>
					<p>Coverage includes:</p>
					@for (lifeeventIds of policy.coveredLifeEvents; track lifeeventIds) {
						<ul>
							<li class="ml-7">
								{{ getLifeeventName(lifeeventIds)?.name | capitalize }}
							</li>
						</ul>
					}
					<div class="flex flex-col items-center justify-center">
						<span
							class="mt-3 w-full py-2 text-center rounded-full text-sm font-semibold bg-dark-glow"
						>
							{{ status(policy).active ? 'Active' : 'In review' }}
						</span>
						@if (status(policy).remove) {
							<span
								class="mt-2 px-4 py-2 rounded-full text-xs font-medium bg-red-200 text-center flex items-center justify-center w-fit min-w-48"
							>
								Recommended for removal
							</span>
						}
					</div>
				</app-info-card>
			}
		</div>
	</section>

	<section>
		<h2>Policies</h2>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
			@for (policy of remainingPolicies(); track policy.id) {
				<app-info-card
					(click)="openRemainingPolicyDialog(policy)"
					(keydown.enter)="openRemainingPolicyDialog(policy)"
					(keydown.space)="openRemainingPolicyDialog(policy)"
					[title]="policy.name"
				>
					<p>{{ 'Premium: ' + (policy.premium ? policy.premium : 'No premium') }}</p>
					<p>Coverage includes:</p>
					@for (lifeeventIds of policy.coveredLifeEvents; track lifeeventIds) {
						<ul>
							<li class="ml-7">
								{{ getLifeeventName(lifeeventIds)?.name | capitalize }}
							</li>
						</ul>
					}
					@if (status(policy).recommended) {
						<span
							class="mt-3 inline-block px-4 py-2 rounded-full text-sm font-semibold bg-green-100"
						>
							Recommended
						</span>
					}
				</app-info-card>
			}
		</div>
	</section>
</div>
